<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Home | Incredible India{% endblock %}

{% block content %}
    <center><h2>Welcome to Incredible India</h2></center>
    <p>Experience the diversity and beauty of a timeless civilization.</p>
    <p>India, located in South Asia, is the world's largest democracy and the second-most populous country, with over 1.4 billion people. Known for its diversity, it boasts 22 official languages, numerous religions, and rich cultural heritage. Geographically, it ranges from the Himalayan mountains to tropical coasts. India has a history spanning millennia, with ancient civilizations, Mughal empires, and British colonization, achieving independence in 1947. Its economy thrives on agriculture, manufacturing, and a globally recognized IT sector. Home to iconic landmarks like the Taj Mahal and spiritual traditions, India plays a vital role in global politics as a member</p>
{% endblock %}
